<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concert Booking</title>
</head>
<style>
.content{
  max-width: 300px;
  margin: 50px;
}
</style>
<body>
    <center>
<div class="content">
  <p>
    <h1>CONCERT</h1>
  </p>
    <a href="{% url 'concert:createConcert' %}">Add New Concert</a> <br> <br>
    <a href="{% url 'concert:displayConcert' %}">Display Concerts</a> <br> <br>
    <a href="{% url 'concert:displayEdit' %}"> Edit and Delete Concerts</a>
</div>
    </center>
</body>
</html>
