<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Concert</title>
</head>
<style>
.content{
  margin: 50px;
}
</style>
<body>
<center>
<div class="content">
    <h1>CREATE CONCERT</h1>
    <form action="" method="post">
        {% csrf_token %}
    {{form.as_p}}
    <input type="submit" onclick="return confirm('Concert Successfully Added!')" value="ADD">
    </form>
    <br>
    <a href="{% url 'concert:concertIndex' %}"><input type="submit" value="Back"/> </a>
    </div>
    </center>
</body>
</html>
