<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concerts</title>
</head>
<style>
.content{
  max-width: 300px;
  margin: 50px;
}
</style>
<body>
<center>
<h1>CONCERTS</h1>
    <hr/>
    <table border="1", cellspacing="2">
        <tr>
            <th>Concert ID</th>
            <th>Title</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Time</th>
            <th>Seat Type</th>
            <th>Price</th>
            <th>Capacity</th>
        </tr>
        {% for c in Concert %}
        <tr>
            <td>{{c.concertID}}</td>
            <td>{{c.title}}</td>
            <td>{{c.venue}}</td>
            <td>{{c.concertDate}}</td>
            <td>{{c.timeStart}}</td>
            <td>{{c.seatType}}</td>
            <td>{{c.price}}</td>
            <td>{{c.capacity}}</td>
            <td><a href="{% url 'concert:editConcert' c.concertID %}"><input type="submit" value="Edit"></a></td>
            <td><a href="{% url 'concert:delete_concert' c.concertID %}"> <input type="submit" onclick="return confirm('Concert Successfully Deleted!')" value="Delete"></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'concert:concertIndex' %}"><input type="submit" value="Back"/> </a>
    </center>
</body>
</html>
