<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Concert</title>
</head>
<body>
<center>
    <h1>Edit Concert</h1>
    <hr/>
    <table border="1", cellspacing="2">
            <td>Title</td>
            <td><input type="text" name="title" value="{{concert.title}}"></td>
        </tr>
        <tr>
            <td>Venue</td>
            <td><input type="text" name="venue" value="{{concert.venue}}"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="date" name="concertDate" value="{{concert.concertDate}}"></td>
        </tr>
        <tr>
            <td>Time</td>
            <td><input type="time" name="timeStart" value="{{concert.timeStart}}"></td>
        </tr>
        <tr>
            <td>Seat Type</td>
            <td><input type="text" name="seatType" value="{{concert.seatType}}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" name="price" value="{{concert.price}}"></td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td><input type="number" name="capacity" value="{{concert.capacity}}"></td>
        </tr>
    </table>
    <br>
    <input type="submit" value="Update"/>
</center>
</body>
</html>