<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align="left">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Confirm">
    </form>
        </div>

    <table border="1" cellspacing="2">
        <tr>
            <th>Title</th>
            <th>Date Available</th>
            <th>Time Aired
            <th>Room Type</th>
            <th>Price</th>
            <th>Number of Seats</th>
            <th>Total</th>
        </tr>
        {% for t in tickets %}
        <tr>
            <td>{{t.0}}</td>
            <td>{{t.1}}</td>
            <td>{{t.2}}</td>
            <td>{{t.3}}</td>
            <td>{{t.4}}</td>
            <td>{{t.5}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>