<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style type="text/css">
      body {
        padding: 25px;
        font-size: 25px;
      }
      h1{
      color:white;
      }
      form{
      color:white;
      }
    </style>
</head>
<body bgcolor="#121212">

<div align = "center" class="style">
    <h1>Add Movie</h1>
    <form action="" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td>{{form.as_p}}</td>
            </tr>
            </table>
    <input type="submit" value="Add">
    </form>
        <br>
    <br>
    <br>
    <br>
<a href="{% url 'movie:movie_index' %}">Home</a>
</div>
</body>
</html>
