<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
        <style>
      body {
        padding: 25px;
        font-size: 25px;
        font
      }
      h1{
      color:white;
      }
      form{
      color:white;
      }
      div{
      color:white;
      }
    </style>
</head>
<body bgcolor="#121212">
    <div align="center">
        Added Successfully!
    </div>
    <br>
    <br>
    <div align="center">
    <a href="{% url 'movie:movie_index' %}">Home</a>
    </div>
</body>
</html>
